# DealDost API Keys
# Get your Google API Key: https://console.cloud.google.com/apis/credentials
# Get your Search Engine ID: https://programmablesearchengine.google.com/controlpanel/all
VITE_GOOGLE_API_KEY=your_google_api_key_here
VITE_GOOGLE_CSE_ID=your_cse_id_here
